body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
    font-size: xx-large;
    padding: 5px;
    margin-right: 40px;
}

.nav-link:hover {
    border-style: solid;
    border-color: #344E41;
    border-width: 2px;
    background-color: #649263;
    padding: 4px;
    margin-right: 36px;
}

.bg-light {
    background-color: #48704F !important;
}

#titlelogo {
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 17px;
  margin-bottom: 17px;
}

.navbar-toggler {
  margin-right: 50px;
  margin-left: 50px;
}

.homepage {
  justify-content:center;
}

hr {
  width: 50%;
  margin-bottom: 0;
  margin-top: 0;
}

.homepage h1 {
  font-size: 60px;
  margin: 20px;
}

.homepage col {
  border-bottom-style: solid;
  border-bottom-width: thin;
}

#homeimage {
  padding: 35px;
}

#homep {
  padding: 35px;
  height: 60%;
  
}

#homex {
  padding: 35px;
}

#homey {
  height: 100%;
}
#homey3 {
  height: 100%;
  padding-bottom: 275px;
}

footer {
  position: fixed;
  bottom:0;
  left: 0;
  right:0;
  background-color: #48704F;
  color: #A3B18A;
}

#homex center h3 {
  padding-top: 100px;
}
